*{
    margin:0px;
}

h1,h2{
    text-align: left;
}

.btn {
    display: block;
    margin: 0 auto;
}

.btn.btn-lft {
    margin-left: 0;
}

.homepage-title h1{
    text-align: center;
}

.index-btn button{
    margin-left: 50px;
}

#login-box,#register-box{
    border: 2px black solid;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}

.alert{
    margin-left: 15px;
    margin-right: 15px;
}

div.user_homepage.saved_buses{
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #9ADDFB;
    width: calc(100%-50px);
    height: auto;
}

.service{
    background-color: white;
    display: inline-block;
    height: 110px;
    min-width: 130px;
    vertical-align:middle;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    height: 110px;
}



.title{
    margin:0;
    font-size: 28px;
    font-weight: bold;
}
.description{
    margin:0;
    font-size:18px;
}

#header-box {
    margin: 0;
    background-color: #dedede;
    padding: 10px;
    height: 140px;
}

#header-box h1{
    font-size: 50px;
}

.header-btn-group button {
    padding: 10px 24px;
    margin-right: 20px;
    cursor: pointer;
    float: left;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.current_user_info {
    width: auto;
}

.current_user_info p{
    line-height: 0;
    text-align: right;
}


/* User homepage buttons */

.homepage-btn{
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    height: 140px;
    background-color: #9ADDFB;
    line-height: 0;
    margin: 0 auto;
}

.homepage-btn:hover{
    background-color: #81caed;
}

.homepage-btn img{
    width: 70%;
    transform: translate(0px,-10px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage-btn p{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.display-1{
    text-align: center;
}

section.bus-stop-selector{
    margin: 10px;
}

table a{
    color: black;
    text-decoration: underline;
}

table a:hover{
    color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 75%;
}

#heart{
    color: palevioletred;
}

#heart:hover{
    background-color: palevioletred;
}